In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
cmm = pd.read_csv("Data/CMM.csv")

In [3]:
cmm.head()

,dim_claim_id,dim_pa_id,dim_date_id,bin,drug,reject_code,pharmacy_claim_approved,date_val,calendar_year,calendar_month,calendar_day,day_of_week,is_weekday,is_workday,is_holiday,correct_diagnosis,tried_and_failed,contraindication,pa_approved
0,1,1.0,1,417380,A,75.0,0,2017-01-01,2017,1,1,1,0,0,1,1.0,1.0,0.0,1.0
1,2,NaN,1,999001,A,NaN,1,2017-01-01,2017,1,1,1,0,0,1,NaN,NaN,NaN,NaN
2,3,2.0,1,417740,A,76.0,0,2017-01-01,2017,1,1,1,0,0,1,1.0,0.0,0.0,1.0
3,4,NaN,1,999001,A,NaN,1,2017-01-01,2017,1,1,1,0,0,1,NaN,NaN,NaN,NaN
4,5,NaN,1,417740,A,NaN,1,2017-01-01,2017,1,1,1,0,0,1,NaN,NaN,NaN,NaN

In [4]:
datalength = len(cmm)
datalength

1335576

In [5]:
print(len(cmm['dim_claim_id'].unique()))
print(len(cmm))

1335576
1335576

In [6]:
print(len(cmm['bin'].unique()))

4

In [7]:
print(len(cmm['drug'].unique()))

3

In [8]:
print(len(cmm[cmm['dim_pa_id'].notna()]))

555951

In [9]:
np.sum(cmm[cmm['dim_pa_id'].notna()]['reject_code'].notna())

555951

In [10]:
np.sum(cmm[cmm['dim_pa_id'].notna()]['pa_approved'].notna())

555951

In [11]:
np.sum(cmm[cmm['dim_pa_id'].notna()]['correct_diagnosis'].notna())

555951

In [12]:
np.sum(cmm[cmm['dim_pa_id'].notna()]['tried_and_failed'].notna())

555951

In [13]:
np.sum(cmm[cmm['dim_pa_id'].notna()]['contraindication'].notna())

555951

In [14]:
cmm_pa = cmm[cmm['dim_pa_id'].notna()]
cmm_pa_train, cmm_pa_test = train_test_split(cmm_pa, test_size = 0.2, 
                                             random_state = 10475, shuffle = True,
                                            stratify = cmm_pa.pa_approved)

We should only look at cmm_pa_train from this point.

In [15]:
plt.barplot(cmm_pa_train.correct_diagnosis)
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'barplot'

In [16]:
sns.__version__

'0.11.2'